br
br
h1#showcase-item-0 Sun Ray Pools: Where quality and pride of workmanship still matter.
hr
p.
	At Sun Ray Pools, we build quality swimming pools. Our specialty
	is building inground gunite pools. We serve Rockwall, McKinney,
	Plano and the entire Dallas Metroplex. We listen to your ideas,
	and together we create the swimming pool you've dreamed about
	and worked hard to own. From design to installation, we are with
	you every step of the way.
br
br
br
h1#showcase-item-1 Products and Services
hr
p.
	We provide on-site supervision with every step of the construction
	of your pool. That is how we finish pools on time as promised.
	We pay attention to detail and communicate with the customer. When
	you build with Sun Ray Pools, you don't talk to an answering machine,
	you communicate with a trained pool professional who is aware of
	the status of your pool, and can answer your questions. Simple
	concept, tried and proven and it works!
p.
	We’re also the home of the innovative energy-saving and
	time-saving "Deep Heat" feature. Click here to learn more.
br
br
br
h1#showcase-item-2 Associations and Organizations
hr
h3 The Association of Pool and Spa Professionals (APSP)
p.
	The APSP is the world's largest international trade association
	representing the swimming pool, spa, hot tub and recreational water
	industries. APSP is the leading industry advocate promoting
	professional best practices through education, industry standards,
	and safety.
p.
	APSP members adhere to a code of ethics in business and technical
	practices and share a strong commitment to the safe, healthful,
	and enjoyable use of industry products.
h3 Better Business Bureau (BBB)
p.
	The BBB is a private, non-profit organization whose mission is
	to promote and foster the highest ethical standards between companies
	and their customers.
p.
	Businesses earning the right to be included in this organization
	have a strong reputation of taking care of their customers.
	More information at the #[Better Business Bureau’s website].



