.contact-form
  h3.modal-title.ct Tell us how we can help you
  p(style='text-align:center;') Enter your information below to get in touch with us immediately!
.modal-body.ct
  form#subForm(action='http://sunraypools.createsend.com/t/d/s/oltjrh/', method='POST')
    input#fieldName(name='cm-name', type='text', placeholder='Your Name', required)
    input#fieldEmail(name='cm-oltjrh-oltjrh', type='email', placeholder='Email Address', required)
    input#fieldPhone(name='cm-f-dujtji', type='text', placeholder='Phone Number', required)
    input#contact_us(name='cm-f-bidwu', type='text', placeholder='How can we help you?')
    button.button-add.button-blue.wide(type='submit') Contact us
    p Rather talk on the phone? Give us a call at #[a(href='tel:+1#{9723330714}') (972) 333-0714]
    //-p No spam. Unsubscribe any time.
