h1= title

hr
h4 At Sun Ray Pools, we understand that the process of deciding, planning, and ultimately building a pool, can be a difficult one to navigate. If you have any specific questions, don’t hesitate to contact us and we’ll do our best to help guide you along the path of building your dream swimming pool. Below are a few of the most common questions we’re asked, along with answers and information to help you out.

hr
h4.question How long does it take to build a pool?
h4 Depending on the season and type of pool, it typically takes anywhere from 4 to 5 weeks.

hr
h4.question When is the best time to install a pool?
h4 Sun Ray Pools builds pools year-round, regardless of the weather. However, the best time to build a swimming pool is spring and summer. This allows you to have your pool and surrounding landscaping done by the first warm day... and gives your family a full season of fun!

hr
h4.question Most pools seem the same. Why do costs vary?
h4 There are many factors that determine the price of a pool. How big is the pool? What extras and custom features are added? Sun Ray designers work closely with the customer to achieve the perfect design to fit your yard, as well as your budget.

hr
h4.question If I have a small yard, can you still design a pool that will fit my budget and taste?
h4 You would be surprised at what we can build in a smaller yard. In recent years, we have seen lot sizes shrink and have become adept at building in smaller areas. Our expert designers can create a beautiful custom swimming pool for even the most challenging properties. Best of all, our pool and spa designs and estimates are free, so you can see how wonderful a custom designed pool will look in your backyard.

hr
h4.question Will my pool have a warranty?
h4 Yes. We know that superior customer service does not end when the pool is completed. At Sun Ray Pools, our warranties exceed industry standards. We have a lifetime structural warranty, as well as an extended warranty on our pumps, filters and heaters. We want you to be happy with your investment, and we stand behind our work.

hr
h4.question What features can I add to my pool?
h4 Almost anything you can imagine! Sun Ray Pools design team is expert in designing and building custom features like waterfalls, jump rocks, Cabo shelves or tanning ledges with umbrella sleeves, beach entry, fountains, and grottos. Tell us what you’d like, and we’ll design it. Need ideas? Check out some of the custom features our clients have chosen for their pools.

hr
h4.question How much maintenance is involved with a pool?
h4 With today’s automation, chemical testing and maintenance take a minimal amount of time per week. Ask your Sun Ray Pools representative about additional time saving options.

hr
h4.question What pool shapes are available?
h4 Your choices are unlimited when it comes to shapes and design. Freeform, geometric, classic... it’s up to you. Our expert designers will offer suggestions on the best way to utilize the size and shape of your yard. Wherever your imagination takes you, Sun Ray Pools can design and build it.


hr
h4.question How does the design process work?
h4 A Sun Ray Pools designer will set up a meeting to discuss your pool interests and budget. He or she will find out what you envision in your backyard, and then help you design the perfect pool for your lifestyle, yard and budget. Prior to meeting, you may want to browse through our swimming pool pictures to get some ideas.

hr
h4.question How much does a pool cost?
h4 While the average cost of building a pool varies by region, a base pool will typically range from the mid to upper $30,000s. Customized options, automated features, and the cost of finish materials contribute to the total price of your pool. Sun Ray Pools design experts are trained to create a pool that fits your imagination, yard and budget.

hr
h4.question Can I finance my pool?
h4 Yes, and now you can apply online for swimming pool financing. Many people are taking advantage of lower interest rates and the equity they have in their home. Sun Ray Pools work closely with lenders who specialize in finding a loan that suits your budget.

hr
h4.question Can I finance my pool?
h4 We strive to be the best and are eager to help our customers resolve any problems that may arise. If for any reason you’ve had unsatisfactory service, have concerns about your warranty, or need to issue any complaints – please let us know. No issue is too big or too small. Our goal is to give you one-on-one, personalized service. We promise to resolve any issue or concern you may have with the same dedication we have throughout the design and building process.

