h1 Get A Head-Start On Your Project With Pre-Approved Financing!
hr

h4 Many pool builders are struggling to get financing right now. But we have a team of lenders with money available right now for pool loans. If another builder or loan company has told you they can't help you, please give us a call. We've helped hundreds of people that other builders told "no."

h4 Our providers offer pool loans with little or no equity, and very competitive rates for your unique situation. If you're interested in any of our financing programs, please give us a call at #[a(href='tel:'+15128942109) (512) 894-2109].

hr
h3 How does it work?
h4 At Bank of England Mortgage, the Fannie Mae HomeStyle loan adds the cost of property renovation into the mortgage, so there is only one loan, one closing and one mortgage payment. Interest rates and payment options are usually significantly lower than that of other financing options typically associated with pools. This allows you to get the pool you actually want without having to worry about significantly increasing your monthly payment. Under this flexible program, many types of improvement is eligible including luxury items. Examples include:

ul
  li Luxury pools, spas, outdoor kitchens, etc.
  li Major landscaping, patios, decks and fencing
br

h4 Apply now to learn more about financing your new pool in with your mortgage. This will help reduce your payment by combining both. Let us show you how! 

hr
h3 To get pre-approved:
br

ul
  li Fill out and submit your information at #[a(href='https://boeaustin.com/pre-qualify/' target='_blank') BOEAustin.com]
  li Be sure select the Loan Purpose as ‘Home Improvement Loan’
  li Afterwards, a specialist will find the appropriate lenders and programs that are the best match for you based on your credit score, and other factors. It’s that easy!
br

h4 #[strong **Note:] This pre-approval review is provided as a courtesy service to prospective Sun Ray Pools clients interested in third-party funding; there is absolutely no charge or obligation on your part. Even if Sun Ray Pools lenders cannot help arrange a loan, your credit application is still 100% free.
