h1 Get A Head-Start On Your Project With Pre-Approved Financing!
hr
p Many pool builders are struggling to get financing right now. But we have a team of lenders with money available right now for pool loans. If another builder or loan company has told you they can't help you, please give us a call. We've helped hundreds of people that other builders told "no."
p Our providers offer pool loans with little or no equity, and very competitive rates for your unique situation. If you're interested in any of our financing programs, please give us a call at #[a(href='#') (972) 333-0714].
h3 Certified Funding
p Certified Funding, L.P. is a pioneer in second lien lending. Please contact Teresa Sneed at #[a(href='#') (972) 248-0200] or Nancy Struthers at #[a(href='#') (972) 955-9321] to start right away.
hr
h3 Lyon Financial
p Why choose Lyon Financial for your Pool Loan? Because "Swimming Pool Loans" Is All We Do!
p We have over 32 years providing pool contractors and customers with reliable, effective and reasonable financing. Lyon Financial has successfully funded over 200,000 swimming pool loans. Lyon Financial has successfully funded over 200,000 swimming pool loans.
p We believe in: No Hassles - No Excuses - Quick Answers. We are committed to providing superior service in a consistent manner. Lyon will always respect your time and your privacy.
p Call Jodie Lyon at #[a(href='#') (877) 754-5966] or #[a(href='#') Click to Apply Online].