h1= title
hr

p “Sun Ray Pools built our pool in April 2014. As pool professionals ourselves, I knew we would be the pickiest customers ever. They delivered exactly what we wanted. Bob & Diane are wonderful to work with. I highly recommend them. A 5-star treatment!”
p Dan and Wanda Flynn, Rowlett
hr

p “We have been thrilled with sun ray pools right from the time they came to give us a quote. Bob and Diane spent a lot of time going over plans and decision when they came to give us an estimate. Bob was on site for every phase of the pool installation. Diane is a whiz with scheduling subcontractors & minimizing delays in the building process. We couldn’t be happier with the service and highly recommended sun ray pools.”
p Dave & Janine, Rowlett
hr

p “We had a great experience with Sun Ray Pools. They took the time to listen to what we wanted for our pool. Using that information, they designed a pool that met and exceeded our expectations. We love our pool and the service that we received from Sun Ray. We have already recommended them to friends and family”
p Jeff & Melynn, Rowlett
hr

p "Bob and Diane made the pool installation an awesome experience. They insisted on being present at each phase of the installation. They listened and gave great recommendations on the finishing of the pool and the deck. They were patient with answering our questions and were flexible with our last minute adjustments. Bob and Diane took great pride in the building of our pool, as if it were their own. Sun Ray Pools were recommended to us by a neighbor and we highly recommend them to anyone interested in owning a quality pool."
p Daryl & Gretta, Rowlett
hr

p "We interviewed 5 pool companies when we decided to install a pool. Sun Ray Pools was the most responsive and was very accommodating regarding all our questions and concerns. The communication and pricing sold us right away! Once the process started, it went very quick and Bob and Diane Arthur were always available during the building. They were both on site several times. It made us feels very secure knowing they took such great interest and attention in our installation.
p Since our build, Sun Ray has been very helpful on any issues that have arisen over the years. We refer absolutely no one else for new pools and for pool owners with repairs."
p David & Kelly, McKinney
hr

p "I could not be happier with my pool. Bob and Diane did an amazing job and from day one to the end of the pool, they were always available when I needed them. Our pool turned out to be gorgeous! I love how they sat down with us in the beginning and listened to exactly what we wanted. I would recommend them to anyone. We are so happy with the results!"
p Dave & Sharon, Terrell
hr

p "Working with Bob and Diane has been a complete joy! We are completely thrilled with the outcome of our pool! They were so patient with us and with any last minute changes we wou1d make. Anytime you texted or emailed, they were quick to respond. They truly care and wanted to make sure we were completely happy with the entire experience."
p David & Erin, Talty
hr

p "I'm so glad that I chose Sun Ray Pools... Bob and Diane are great to work with. Their attention to detail is flawless. I highly recommend them to anyone. You will be pleased as I am."
p Delores D., Rowlett
hr

p "Sun Ray Pools provides personalized and informative service. They are a true role model of how to interact with a customer. My pool was built with precision and we felt informed of the timeline each step of the way. I highly recommend Sun Ray Pools."
p Missy V., Rowlett
hr

p "We are writing this letter of recommendation to sun ray pools and on behalf of Bob Arthur. Bob installed a swimming pool in our back yard and we are very happy with the final results. Bob and his wife Diane were very willing to work with us from the very start and were extremely accommodating and patient with all questions and concerns that we had. When we decided to put a swimming pool in, Bob came to our home and laid out what the pool would look like. The drawing did not give it justice, as it turned out very beautiful and compliments our back yard tremendously.
p We would highly recommend the craftsmanship of Bob Arthur and his company, Sun Ray Pools to our family and friends, or anyone else interested in installing a Gunite swimming pool."
p Ed & Lori, Rowlett
hr

p "I would heartily recommend Sun Ray Pools to anyone considering a new pool or a remodel of their existing pool based on my recent experience with my own remodel. Bob and Diane Arthur listened intently while I described what I wanted to do with my 17 year old pool. They provided guidance, gave me many options to consider and made recommendations. They suggested only quality equipment while still keeping within my budget. They also insisted on checking safety features and completing pressure checks to ensure the existing structure was sound. I was impressed with their crews who were courteous and always cleaned up after themselves at the end of the day. Once the work started, there was never a delay between the various crews and the entire work was completed in less than 2 weeks! Bob and Diane stayed in constant touch with me from beginning to end explaining exactly what was happening and when. The final product is outstanding, and I couldn't be happier."
p Eileen, Grapevine
hr

p "We love our pool and we especially enjoyed the personal attention to our wants and needs, from the first consultation to the final day! All the contractors told us, “Bob builds a good pool and he builds them quick, he knows how to schedule his contractors.” We had a great experience working with Sun Ray Pools!"
p Jeff & Marcia, Rowlett
hr

p "Sun Ray built us a beautiful pool and deck. They finished ahead of schedule and worked very hard to resolve our concerns during the entire process. Bob and Diane both made themselves available not only throughout the process, but after the pool was completed. Bob's 33 years of experience was invaluable: with tips and suggestions during the design phase and especially in how he managed the sub contractors. We would definitely buy another pool from Sun Ray!!"
p Kelly & Michael, McKinney
hr

p "We are really pleased that we chose Sun Ray Pools to build our pool. At all times, you were professional and very personable. You were patient and thorough with all of our questions and were there every step of the way. We had a challenging backyard with a slope and retaining wall. Thank you for being meticulous in planning the pool design to make sure the structure was strong, as well as beautiful. We were very well taken care of! Bob and Diane, you feel like family now. You transformed our backyard into a beautiful retreat!"
p Kevin & Renee, Rowlett
hr

p "Susan and I just wanted to thank you for building us a great swimming pool. You have been very responsive to our questions and concerns and it’s great to know that you provide quality customer service after the sale. We were going to have our pool built by another pool company, but several other neighbors from our sub division raved about your company...thus, I am glad we called Sun Ray Pools. I have looked at some other pools in the neighborhood built by other pool builders, and they simply don't compare in terms of value and quality. Just wanted to thank you again for giving our family such enjoyment during the past few years."
p Les & Susan, Frisco
hr

p "Sun Ray Pools did my pool back in the summer of 2013. I have been very happy with the pool and the design was very impressive. I have had so many compliments from the stone work to the extra patio space created. I truly cannot thank (Bob and Diane) enough. The key was that they were a part of the build process from the beginning to end and it made all the difference. Thank you Sun Ray!"
p Paul, Murphy
hr

p "As evidenced by the pool in our backyard, you were able to deliver a quality product on time and within budget. Furthermore, you accomplished this task with a strong sense of commitment to ensure total customer satisfaction. Needless to say, we are very pleased with the decision we made to engage the services of your company. We will surely refer any of our friends or neighbors who might be interested in building a pool to consider sun ray pools. If we can ever serve as a reference for you and your company, please do not hesitate to contact us."
p Rene, Garland
hr

p "Sun Ray Pools did an amazing job! They were at my home every step of the process. They made sure everything was done with expertise and quality. I love my pool, and as a real estate agent, I refer them to all my clients who are always more than pleased with their work and professionalism!"
p Cathleen Lewis, Rockwall
hr

p "We are so happy with our sun ray pool. It is more beautiful than we ever imagined. We were able to monitor the complete construction process from beginning to end. The professionalism, quality workmanship and experience displayed by the builder far exceeded our expectations. The customer service given to us by Bob and Diane was the best we have ever experienced in any work we have ever done. We would highly recommend sun ray pools to anyone considering a beautiful outdoor oasis."
p Jeff & Henrie, Forney
hr

p "They could not be more correct...we agree with them that it looks great. If you ever need a recommendation for one of your potential customers, you know you don’t have to hesitate to have them contact me via phone or email. Thanks again, and good luck! Not that you will need it, as word of mouth will do you and your company just fine."
p Jim, Frisco