h1(style='font-size: 2.5em; color: #242628') OUR SERVICES
h3 Pool Design, Building, Renovation
hr
p Our clients benefit by working with a pool company who handles every aspect of the project from start to finish. Our pool design team will show you exactly what your final project will look like once complete. Our pool builders will create a masterpiece that exceeds your wildest dreams. Our pool renovation team will give your old pool new life. Contact us today to learn how we can help you design, build or renovate your pool.
h1.ct Pool Design
hr
p Visualizing the pool of your dreams is easy when you work with Sun Ray Pools. Our pool design team – using 3D design software – shows you exactly how your backyard will be transformed with your custom concrete pool. Sun Ray Pools provides detailed perspective renderings to fit your particular landscape and needs. We can also design multiple options to achieve the backyard oasis you desire. Contact the Rockwall, McKinney, Plano and the entire Dallas Metroplex pool design experts today, and we will bring your vision to life.
ul
	li Custom Pool Designs
	li Designer Pool Designs
	li 3D Pool Renderings
	li Engineered Scale Drawings
	li Small, Medium, or Large Pool Sizes
	li Lap Pools
	li Plunge Pools
	li Indoor and Outdoor Pools
h1.ct Pool Building
hr
p With custom-designed, affordable concrete pools to fit any budget and the choice of chlorine pools or saltwater pools, our customers will always find the perfect option to become the centerpiece of their backyard oasis. Our team of expert pool builders not only deliver a long-lasting, high-quality pool for your home, but they also deliver a professional pool building experience by being respectful to the homeowner and keeping the job site tidy and clean. Contact the Rockwall, Plano, McKinney and the entire Dallas Metroplex pool builder of choice today to find out how we can help you with your next pool project.
ul
	li Concrete Pools
	li Saltwater Pools
	li Infinity Pools
	li In-Ground Pools
	li Indoor or Outdoor Pools
	li Patio and Deck
	li Screen Enclosures
	li Hardscaping and Landscaping
	li Water and Fire Features
	li LED Lighting
	li Bubblers and Jets
	li Handicap and Accessibility
h1.ct Pool Renovation
hr
p Do you have an older pool on your property that could use a facelift, an upgrade or a little TLC? Our pool repair and renovation services are here to help. Our pool renovation team can transform your old pool and make it look like your pool installation was completed yesterday. We will help you save money by upgrading your outdated equipment to newer, more energy efficient pool equipment. And if you want a new pool deck or would like to add any other features to your backyard pool and surrounding landscape, Sun Ray Pools in Dallas, TX has you covered. Contact us today to learn more.
ul
	li Resurfacing
	li Cracks and Leaks
	li Decking Repair and Replacement
	li Tile Repair and Replacement
	li Partial and Complete Remodels
	li Simple and Complex Repair