.special-features-wrapper.bg-offwhite
	#special-features-section.section-wrapper
		.section-header(style='padding-bottom: 100px')
		include ./showcase
		.clearfix
		.bg-white
			.special-features-content-wrapper.container
				.text-block
					.special-features-text.block-text
						h1.ct Custom features that will make your pool truly one-of-a-kind.
						hr
						h3 With the right design creativity...
						p ... and today’s new features, the possibilities for customizing your special project are limitless. Take a look at the photos below for a small sampling of the many custom water features and other features that could be part of your backyard project.
						p Don't see what you like? Have something else in mind? No problem; We’ll design it for you. Just give us a call to discuss.
							
						a(href='#') (972) 333-0714
.clearfix