h1.
	Hooray! We're glad you've requested the
	"10 Steps to the Perfect Pool" guide.
br
h3 We think you’re going to love it.	
br
p You can check out the pdf version here:
p: a(href='/images/10-steps-to-the-perfect-pool.pdf').
	10 Steps to a Perfect Pool
br
p.
	Also, if you've ever found the many different pool options,
	features and definitions to be somewhat overwhelming, then
	you're going to love the "pool features glossary" at the end
	of the report. It has 14 pages of photos and descriptions,
	explaining all the latest pool features and options available.
	And it's all explained in easy-to-follow "plain English."
br
p.
	Meanwhile, if you have any questions or comments for any of
	us here at Sun Ray Pools regarding swimming pools in general,
	or this report in particular, just give me a call any time at
	#[a(href='tel:9723330714') (972) 333-0714].
br
p Sincerely,
br
p Sun Ray Pools
