#logos.logos-alt
	.partners
		ul
			li.partner.partner0
				a
					img(src='images/partner0.jpg')
			li.partner.partner1
				a.logos-alt(href='http://www.bbb.org/dallas/business-reviews/swimming-pool-contractors-dealers-design/sun-ray-pools-and-spas-in-rowlett-tx-90005855' target='_blank')
					img(src='images/partner1.jpg')
			li.partner.partner2
				a
					img(src='images/partner2.jpg')
			li.partner.partner3
				a
					img(src='images/partner3.jpg')