#nav.nav.sticky
	#nav-top.nav-flex(role='navigation')
		.nav-logo-wrapper
			#logo.nav-logo-top
				a.logo(href=rootUrl, style='margin-bottom:-50px')
					img(src='/images/sun-ray-pools-logo.png')
		.nav-ghost-wrapper
		.nav-map-wrapper.sm-hide
			ul.nav-map-ul
				each val, index in nav
					li.nav-map-li
						a(href= val)= index
		.nav-social-wrapper.sm-hide
			//- .nav-social-top
			//- 		each val, index in social
			//- 			a(href= index target='_blank')
			//- 				i(class="fa fa-#{val}")
			.nav-weather-wrapper
				//- canvas#partly-cloudy-day(width='36', height='36')
				//- span 98°
				span.call-now
					a(href='tel:9723330714') (972) 333-0714
		.nav-sm-only
			a
				button.mobile-menu(type='button')
					span.hidden Menu
	.clearfix
	#nav-mobile.nav-sm-only.collapse-it
		ul.nav-mobile-ul

			each val, index in nav
				a(href= val)
					li.nav-mobile-li= index

