.page-width
  .photos-wrapper
    .photos-title-wrapper
      h4.photos-title Click to see larger images
    //-.photos-inline-wrapper
      .photo-row.row
        each img, type in photos
          .photo-inline-wrapper.col-md-6.col-sm-12
            .photo-format
              img.photo.img-responsive(class=type src='images/#{img}')
