.spotlight-wrapper
	.spotlight
		.spotlight-bg.ct(style='background:url(../images/#{spotlight.bg})')
			.spotlight-head
				h1= spotlight.header
				h2= spotlight.subheader
				p= spotlight.action
.clearfix


