Hi [firstname],
<br><br>
Thank you for getting a copy of our latest guide on being a swimming pool owner! Here is a link to your free download: "<a href="http://bit.ly/291V1dh">10 Steps to a Perfect Pool</a>."
<br><br>
Let me know if you'd prefer this in pdf version and I will email that right over to you. Also, most people download our guide because they're thinking about owning a pool at some point in the future, so I wanted to ask:
<br><br>
What caught your interest today?
<br><br>
My name is Diane, tell me what it is I can do to help!
<br><br>
&mdash;Diane Arthur<br>
Co-owner, Sun Ray Pools<br>
(972) 333-0714<br>
diane@sunraypoolstx.com<br>
<a href="http://sunraypoolstx.com">www.SunRayPoolsTX.com</a>
