@import 'partials/reset';
@import 'partials/fonts';
@import 'partials/var';
@import 'partials/mixins/mixins.scss';
@import 'partials/base';
@import 'partials/info';
@import 'partials/collection';
@import 'partials/block';
@import 'partials/landing';
@import 'partials/blog';