// NEW STYLES AS OF 06/06/17
.photo-category-gallery-container {
    // overrides bootstrap's container class padding of 15 px;
    padding-left: 20px;

}


#photo-category-wrapper {
    h1 {
        color: $main;
        font-family: $sansSemibold;
        text-align: center;
    }
}

.photo-thumbnail {
    position: relative;
    height: 150px;
    width: 260px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
    padding: 0;
    margin: 0 4px 20px;
}

.text-block-override {
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 50px;
    @media screen all and (min-width: 600px) {
        width: 850px;
    }
    h1 { padding-top: 30px; }
    hr { padding-bottom: 10px; }
}

.static-sidebar-wrapper {
    //display: relative;
    width: 300px;

}

.static-sidebar {
    @media screen and (min-width: 400px) { display: none; }
    //position: fixed;
    //display: absolute;
    left: 0%;
    h1 {
        padding-top: 30px;
    }
    h3 {
        color: #212425;
        text-align: center;
        &.sidebar-category {text-align:left;}
    }
    a {
        color: #212425;
        &:hover {
            color: $main;
        }
    }
    .meta-type:before { }
}

////////////
// 06/06/17: Old styles -- see if these are still needed!!
////////////

.photos-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
}

.photos-title-wrapper {
  //background-color: $offWhite;
}

.photos-title {
  position: relative;
  margin: 30px 0;
  color: #aaa;
  font-size: 15px;
  font-family: $sansSemibold;
  text-align: center;
  width: 100%;
  text-transform: uppercase;

  &:before {
    right: .5em;
    margin-left: -50%;
  }

  &:after {
    left: .5em;
    margin-right: -50%;
  }

  &:before, &:after {
    position: relative;
    background-color: #aaa;
    content: '';
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    width: 40.25%;
  }
}

.photos-inline-wrapper {
  img {
    // this width line shouldn't be necessary?
    width: 100%;
  }
}

.photo-row {
  position: relative;
}

.photo-inline-wrapper {
  position: relative;
  //width: 100%;
}

.photo-format {
  //position: absolute;
  //background: rgba(0,0,0,.5);
  //display: flex;
  //right: 0;
  //top: 0;
}

.photo {
  padding-bottom: 30px;
}

