p
	img(src='/images/blog0.jpg' style='padding-top:5px').align-right.half
	| Pool covers can be installed on many pools contrary to what you may have heard. We have innovated automatic pool cover applications including being the first to install an automatic swimming pool cover on a vanishing edge, perimeter overflow, dual-level pool, and other cutting-edge designs. At Sun Ray Pools, we recommend and use pool covers by Cover Star pool covers.
	br
	| A Coverstar safety cover is the strongest way to prevent children and pets from getting into your pool when you can't be there. Whether you prefer a durable mesh or solid safety cover, or an automatic safety cover that goes on and off your pool with push-button convenience, a Cover Star cover is the best protection available for your family and your pool investment! 
h3 Here’s why Coverstar has the best pool covers
ul
	li Reliable Mechanism
	li Sealed Motor
	li Adjustable Torque Limiter
	li High Tech PowerFlex Ropes & Pulleys
	li Keyed Safety Switch
h3.ct Coverstar – The best pool cover in the industry.
img(src='/images/blog1.jpg' style='width:100%').align-right
