include ./includes/layout
include ./mixins/mixins
body
  block content
    +fullnav(url)
    +textblock(url)
      h1.fiftypx Callrail
      hr
      h3 Like what you see? Give us a call today!
      p
        a(href='tel:9729925226') (972) 992-5226
    +footerbg('black')
