include ./includes/layout
include ./mixins/mixins
body
	block content
		+fullnav(url)
		include ./includes/cta
		+textblock(url)
			include ./includes/_financing
		include ./includes/logos-alt
		+footerbg('black')
