include ./includes/layout
include ./mixins/mixins

body
  block content
    +fullnav(url)
    include ./includes/cta
    include ./includes/photos
    //+infoblock(info, 'purp')
    +footerbg('black')
