include ./includes/layout
include ./mixins/mixins

body
  block content
    +fullnav(url)
    include ./includes/photos
    include ./includes/menu
    //-+textblock(url)
      include ./includes/_swimming-pools
    include ./includes/cta
    //-+infoblock(info, 'purp')
    +footerbg('black')
