include ./includes/layout
include ./mixins/mixins

body
  block content
    +fullnav(url)
    include ./includes/cta
    include ./includes/photos
    include ./includes/menu
    +textblock(url)
      include ./includes/_swimming-pools
    //-+infoblock(info, 'purp')
    +footerbg('black')
