include ./includes/layout
include ./mixins/mixins

body
  block content
    +fullnav(url)
    .fiftypx
    include ./includes/spotlight
    include ./includes/menu
    +textblock(url)
      include ./includes/_portfolio
    include ./includes/cta
    +footerbg('black')



