include ./includes/layout
include ./mixins/mixins
body
  block content
    +fullnav(url)
    +textblock(url)
      h1.fiftypx How Did We Do?
      hr
      h4
        | Reviews are how we get a lot of our business.  Your feedback is important to us.  If you can take 60 seconds to leave us some feedback on our service, we would greatly appreciate it.
      .review-us
        a.good(href='https://www.facebook.com/pg/sunraypoolstx/reviews/', target='_blank')
          button.btn.btn-main Good
        a.not-good(href='mailto:bob@sunraypoolstx.com')
          button.btn.btn-main Not so good

    +footerbg('black')
