include ./includes/layout
include ./mixins/mixins
body
	block content
		+fullnav(url)
		+textblock(url)
			include ./includes/_thank-you
		+footerbg('black')
		//- break out this block into its own include
		script(type='text/javascript').
			/* <![CDATA[ */
			var google_conversion_id = 1072660219;
			var google_conversion_language = "en";
			var google_conversion_format = "3";
			var google_conversion_color = "ffffff";
			var google_conversion_label = "N37qCP_O0mgQ-_29_wM";
			var google_remarketing_only = false;
			/* ]]> */
		script(type='text/javascript', src='//www.googleadservices.com/pagead/conversion.js')
		noscript
			div(style='display:inline;')
				img(height='1', width='1', style='border-style:none;', alt='', src='//www.googleadservices.com/pagead/conversion/1072660219/?label=N37qCP_O0mgQ-_29_wM&guid=ON&script=0')		
